#body {
    background-color: #ebebc4;
}

div.content {
    width: 400px;
    min-height: 80px;
    box-shadow: 1px 1px 5px #2b2b2b;
    background-color: white;
    padding: 9px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    margin-left: 10px;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
}


input {
    width: 91%;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 10px;
    border: 1px solid #b2b2b2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px inset;
}

 input[type="submit"]{
    background-color: #ddf00a;
    width: 50%;
    padding: 11px;
    margin-left: 25%;
    border:0px;
    margin-top: 15px ;
    
}

input[type="submit"]:hover {
    background-color:#7f8a00;
    }
    
    #sub a{
      
        color:black;
        text-decoration: none;
        
    }

.perdido {
    margin-left: 12px;
}